<!DOCTYPE html>
<html>

<head>
    <style>
        html,
        body {
            height: 100%;
            margin: 0;
            padding: 0;
            background-color: #118AB2;
            background-size: cover;
            background-position: center;
        }
    </style>
</head>

<body>
    <div id="navbar"></div>
    <h1 style="text-align: center; color: white; font-size: 3em; margin-top: 50px; font-family: Andale Mono, monospace ">Buy me a drink!</h1>
    <p style="text-align: center; color: white; font-size: 2em; margin-top: 50px; font-family: Andale Mono, monospace"> If you build me a drink here and buy it, I will get it in real life! </p>
    <div id="drink-menu"></div>
</body>