.urgent-text {
  color: red;
}

.fantasy-font {
  font-family: fantasy;
}

/* @font-face {
  font-family: 'Winter-Half';
  src: url('/../../../assets/fonts/Winter-Half.ttf') format('truetype');
}

.winter-half-font {
  font-family: 'Winter-Half', 'fantasy';
} */

.adale-mono-font {
  font-family: 'Andale Mono', monospace;
}

.flex-container-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 500px) {
  .flex-container-row {
    flex-direction: column;
    align-items: center;
  }
}
