option_settings:
  aws:elasticbeanstalk:application:environment:
    RAILS_ENV: production
    RAILS_MASTER_KEY: f3544f59d54e7aab4828c18425e8847c 
    RDS_DB_NAME: database
    RDS_USERNAME: postgres
    RDS_PASSWORD: postgrespassword
    RDS_HOSTNAME: database.c1siyk6w4fse.us-east-1.rds.amazonaws.com
    RDS_PORT: 5432