<div>
    <div id='navbar' class="mb-4" style="margin-bottom: 20px;">
    </div>
    <div id='sun-click-game-container' style="margin-top: 60px;" data-background-image="<%= asset_path('the-banquet.png') %>">
    </div>
    <h1>sdfsadf</h1>
</div>