<!DOCTYPE html>
<html>

<head>

    <style>
        /* Set the background image on the html and body for the entire screen */
        html,
        body {
            background-color: #333;
            height: 100%;
            margin: 0;
            padding: 0;
            overflow: visible;
        }
    </style>
</head>

<body>
    <div id="navbar" style="margin-bottom: 20px;">
    </div>
    <div id='cv-overview'></div>


</body>

</html>